.theme-icon-list-icons{
    width: 100%;
    height: 100%;
}
@media (max-width: 660px) {
    .customized-mobile-icon-list{
        justify-content: space-between;
        column-gap: 10px;
        li{
            padding-left: 0px;
            padding-right: 0px;
            width: calc(50% - 5px);
            h3{
                word-break: keep-all;
                font-size: 18px;
            }
        }
    }
}

@media (min-width: 661px) {
.customized-mobile-icon-list{
    column-gap: 20px;
    li{
        padding-left: 0px;
        padding-right: 0px;
    }
}
}