.template--product{
    .product-block-title{
        @media (min-width: 750px) {
            h1{
                font-weight: 900;
                font-size: 60px;
                line-height: 100%;
            }
        }
    }

    //icon blocks with text
    .container-inner{
        display: flex;
        column-gap: 12px;
    }
    .content_icon_container{
        display: flex;
        column-gap: 12px;
        overflow-x: scroll;
        flex-direction: row;
        flex-wrap: nowrap;
        a{
            background: #ECECEC;
            border: 2px solid #FFFFFF;
            border-radius: 10px;
            height: 76px;
            display: inline-flex;
            align-items: center;
            padding-left: 18px;
            padding-right: 18px;
            min-width: 120px;
            justify-content: center;
            width: max-content;
        }
         &::-webkit-scrollbar {
            display: none;
        }
    }

    @media (max-width: 749px) {
        .splide--product{
            .splide__list{
                column-gap: 20px;
                padding-left: 20px !important;
                padding-right: 20px !important;
                li {
                    padding: 0px;
                }
                .w-4\/5{
                    width: 90% !important;
                }
            }
        }
    }
}