.template--product{
    .product-block-title{
        @media (min-width: 750px) {
            h1{
                font-weight: 900;
                font-size: 60px;
                line-height: 100%;
            }
        }
    }

    //product key benefits
    .product-block-key_product{
        .main-heading{
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            @media (max-width: 749px) {
                font-weight: 900;
                font-size: 30px;
                line-height: 36px;
            }
        }
        .content_icon_container_pdp{
            flex-direction: column;
            row-gap: 6px;
            @media (max-width: 749px) {
                column-gap: 15px;
            }
            .content_icon_item{
                display: flex;
                align-items: center;
                column-gap: 37px;
                @media (max-width: 749px) {
                    column-gap: 27px;
                }
                .text-scheme-text {
                    width: max-content;
                    height: 50px;
                    img{
                        width: auto;
                        height: 100%;
                    }
                }
                .title_text_icon{
                    font-style: italic;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    @media (max-width: 749px) {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    

    //icon blocks with text
    .product-block-link_ratialers{
    .container-inner{
        display: flex;
        column-gap: 12px;
    }
    .content_icon_container{
        display: flex;
        column-gap: 12px;
        overflow-x: scroll;
        flex-direction: row;
        flex-wrap: nowrap;
        a{
            background: #ECECEC;
            border: 2px solid #FFFFFF;
            border-radius: 10px;
            height: 76px;
            display: inline-flex;
            align-items: center;
            padding-left: 18px;
            padding-right: 18px;
            min-width: 120px;
            justify-content: center;
            width: max-content;
        }
         &::-webkit-scrollbar {
            display: none;
        }
    }
    }

    @media (max-width: 749px) {
        .splide--product{
            .splide__list{
                column-gap: 20px;
                padding-left: 20px !important;
                padding-right: 20px !important;
                li {
                    padding: 0px;
                }
                .w-4\/5{
                    width: 90% !important;
                }
            }
        }
    }
}