<section class="text-scheme-text bg-scheme-background {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %}" data-color-scheme="{{ section.settings.color_scheme }}">
  {%- render 'text-marquee', section: section, class: 'py-2.5' %}
</section>
{{ 'section-marquee.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Text marquee",
  "settings": [
    {
      "type": "paragraph",
      "content": "If a user has reduced motion enabled the marquee will not animate and display as a static banner as a fallback."
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
    },
    {
      "type": "checkbox",
      "id": "repeat_text",
      "default": true,
      "label": "Repeat text",
      "info": "Automatically repeat text to create an infinity effect."
    },
    {
      "type": "select",
      "id": "shape_between_text",
      "label": "Shape between repeated text",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "diamond",
          "label": "Diamond"
        },
        {
          "value": "triangle",
          "label": "Triangle"
        },
        {
          "value": "star",
          "label": "Star"
        },
        {
          "value": "10_point_star",
          "label": "10 point star"
        },
        {
          "value": "flower",
          "label": "Flower"
        }
      ],
      "default": "10_point_star"
    },
    {
      "type": "checkbox",
      "id": "animate_shape_between_text",
      "default": true,
      "label": "Animate shape between text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "radio",
      "id": "font",
      "label": "Font",
      "options": [
        {
          "value": "font-heading heading-secondary",
          "label": "Heading"
        },
        {
          "value": "body",
          "label": "Body"
        }
      ],
      "default": "font-heading heading-secondary"
    },
    {
      "type": "checkbox",
      "id": "apply_effects",
      "label": "Apply heading effects",
      "default": false,
      "info": "Only applies if heading font is selected. Heading effects can be customised in theme settings."
    },
    {
      "type": "select",
      "id": "mobile_text_size",
      "label": "Mobile text size",
      "options": [
        {
          "value": "text-sm",
          "label": "S"
        },
        {
          "value": "text-base",
          "label": "M"
        },
        {
          "value": "text-lg",
          "label": "L"
        },
        {
          "value": "text-xl",
          "label": "XL"
        },
        {
          "value": "text-2xl",
          "label": "2XL"
        },
        {
          "value": "text-3xl",
          "label": "3XL"
        },
        {
          "value": "text-4xl",
          "label": "4XL"
        }
      ],
      "default": "text-3xl"
    },
    {
      "type": "select",
      "id": "desktop_text_size",
      "label": "Desktop text size",
      "options": [
        {
          "value": "lg:text-2xl",
          "label": "2XL"
        },
        {
          "value": "lg:text-3xl",
          "label": "3XL"
        },
        {
          "value": "lg:text-4xl",
          "label": "4XL"
        },
        {
          "value": "lg:text-5xl",
          "label": "5XL"
        },
        {
          "value": "lg:text-6xl",
          "label": "6XL"
        },
        {
          "value": "lg:text-7xl",
          "label": "7XL"
        },
        {
          "value": "lg:text-8xl",
          "label": "8XL"
        },
        {
          "value": "lg:text-9xl",
          "label": "9XL"
        }
      ],
      "default": "lg:text-7xl"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 10,
      "max": 400,
      "step": 10,
      "unit": "sec",
      "label": "Speed",
      "default": 120
    },
    {
      "type": "radio",
      "id": "direction",
      "label": "Direction",
      "options": [
        {
          "value": "",
          "label": "Right to left"
        },
        {
          "value": "reverse",
          "label": "Left to right"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        },
        {
          "value": "quaternary",
          "label": "Quaternary"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "Use gradient for background"
    }
  ],
  "presets": [
    {
      "name": "Text marquee"
    }
  ]
}
{% endschema %}
